{% extends 'base.html' %}
{% load static %}

{% block title %}Aprenda Mas{% endblock %}

{% block content %}
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-2">STOCKSIMULATOR</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/home">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Inicio</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/learn-more">
                <i class="fas fa-lightbulb"></i>
                <span>¡Aprende mas!</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/csv-files">
                <i class="fas fa-solid fa-box"></i>
                <span>Archivos CSV</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" src="{% static 'theme/img/undraw_rocket.svg'%}" alt="...">
            <p class="text-center mb-2"><strong>Stocksimulator Pro</strong> contiene muchas funcionalidades nuevas!</p>
            <a class="btn btn-success btn-sm" href="#">Hazte Pro!</a>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-dark topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                            aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                        placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">1+</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alertas
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">Diciembre 12, 2019</div>
                                    <span class="font-weight-bold">Un nuevo reporte mensual esta listo para ser
                                        descargado!</span>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Leer mas Alertas</a>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">1</span>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                                Mensajes
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                        alt="...">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Toy sad. Compra acciones prro >:v</div>
                                    <div class="small text-gray-500">El perro Pipe · 2 días</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Leer mas Mensajes</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline small">Juan Useche</span>
                            <i class="fas fa-solid fa-user"></i>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Perfil
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Configuración
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Cerrar Sesión
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0 ">
                                        <button class="text-dark btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="false"
                                            aria-controls="collapseOne">
                                            ¿Que es la bolsa de valores?
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        La bolsa de valores es una organización que permite la compra y venta de
                                        acciones, esto permite que personas particulares apoyen el crecimiento de una
                                        empresa, esto se hace adquiriendo un pequeño porcentaje de esta misma,
                                        con esto entiendase compra de acciones, ademas que tambien permite que estas
                                        personas
                                        que han apoyado a la empresa se beneficien realizando la venta de las acciones.
                                        <br>
                                        <br>
                                        Si quieres conocer mas sobre la bolsa de valores, te invitamos a ver el
                                        siguiente video:
                                    </div>
                                    <div class="ml-4">
                                        <iframe width="560" height="315"
                                            src=""
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="text-dark btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            Como conseguir tu propio csv de la bolsa de valores Colombiana
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        Nuestra aplicacion la puedes utilizar para predecir el valor de las acciones
                                        de la empresa que tu desees, solo es necesario que ingreses un csv con los
                                        ultimos movimientos de las acciones de la empresa que deseas predecir, este
                                        archivo csv lo puedes conseguir en la misma pagina de la bolsa de valores
                                        colombiana.
                                        <br>
                                        Si quieres conocer mas acerca de los acrhivos csv, te invitamos a leer nuestra
                                        expliacion
                                        en esta misma pagina.
                                        <br>
                                        <br>
                                        Si quieres conocer como conseguir un csv de la empresa
                                        que tu desees, te invitamos a ver el siguiente video:
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="text-dark btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            ¿Que es un archivo csv?
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        La manera en como nuestra aplicacion se encarga de manejar los datos es
                                        a travez de un archivo csv, este archivo es un archivo de texto plano,
                                        en el que los caracteres(infrmacio) estan separados por comas, de ahi su nombre
                                        en
                                        ingles, Comma Separated Values, este tipo de archivos se puede ver como un excel
                                        y
                                        tienen la particularidad de que pueden almacenar una gran cantidad de datos.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour">
                                            Tutorial 3
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                        cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                        you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-primary"><strong>Consideraciones de parte del equipo de stocksimulator</strong></h4>
                                <h5 class="card-subtitle ml-1 mt-2 mb-2 text-info"><strong>Estar informado</strong></h5>
                                <p class="card-text ml-3">Es muy importante el estar al tanto de como se mueve el
                                    mercado de valores
                                    dia a dia, antes de hacer una inversion, esto no son apuestas, se debe tener en
                                    claro el historial de
                                    la empresa y si puede ser o no rentable a futuro.
                                </p>
                                <h5 class="card-subtitle ml-1 mt-2 mb-2 text-info"><strong>Busca un corredor de bolsa de
                                    confianza</strong></h5>
                                <p class="card-text ml-3">La manera mas sencilla de realizar acciones en la bolsa de
                                    valores, es a travez
                                    de un corredor de bolsa, este se encargara de aconsejarte sobre el mercado de
                                    valores, ademas de que
                                    hara de intermediario entre el usuario y la bolsa de valores, es por esto que es
                                    importante el encontrar uno
                                    que este capacitado para esta labor, en el caso de la bolsa de valores colombiana
                                    esta tiene un listado, con agencias
                                    de inversiones, y una lista de corredores de bolsa de confianza, sugerimos que lea
                                    el listado de corredores de bolsa
                                    y escojas el que mejor se adapte a tu necesidad.
                                </p>
                                <h5 class="card-subtitle ml-1 mt-2 mb-2 text-info"><strong>Invertir es diferente a apostar</strong></h5>
                                <p class="card-text ml-3">La bolsa de valores es vista por muchos como aquel sitio en el que 
                                    ingreso dinero y magicamente se multiplica, esto no es asi, la bolsa de valores deberia 
                                    verse mas como un ahorro a largo plazo, algo como lo que son los cdts, pero que te pueden 
                                    traer mas beneficios o mas perdidas; por eso es muy importante que a la hora de invertir se 
                                    haga a largo plazo, ademas de que las sumas que se inviertan no sean significativas para 
                                    la economia personal, en caso de que haya perdidas no afecte de manera negativa la economia
                                    del usuario.
                                </p>
                                <h5 class="card-subtitle ml-1 mt-2 mb-2 text-muted">Links que le pueden interesar:</h5>
                                <a href="https://www.bvc.com.co/pps/tibco/portalbvc" class="card-link ml-3"
                                    target="_blank">Bolsa de Valores Colombiana</a>
                                <a href="https://www.bvc.com.co/pps/tibco/portalbvc/Home/Empresas/Ranking+por+Capitalizaci%C3%B3n+Burs%C3%A1til?action=dummy"
                                    class="card-link ml-2" target="_blank">Principales empresas</a>
                                <a href="https://www.bvc.com.co/pps/tibco/portalbvc/Home/Empresas/Ranking+por+Capitalizaci%C3%B3n+Burs%C3%A1til?action=dummy"
                                    class="card-link ml-2" target="_blank">Corredores de bolsa</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-dark mt-4">
            <div class="container my-auto">
                <div class="copyright text-center text-white my-auto">
                    <span>Copyright &copy; Stocksimulator 2022</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Listo para irte?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Seleccione "Cerrar sesión" para abandonar la sesión actual.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" href="/login">Cerrar sesión</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}